@model IList<Modelos.Formulas.EstruturaProduto>

<div class="container-fluid">
    <div class="row">
      @Html.Partial("_SimulacaoEstruturaBase")
      @Html.Partial("_SimulacaoEstruturaSimulacao")
       
    </div>
</div>
@section scripts{

}
