@model IList<Modelos.Formulas.EstruturaProduto>

<div class="container-fluid">
    <div class="row">      
      @Html.Partial("_SimulacaoNovoProdutoEstruturaDados")
       
    </div>
</div>
@section scripts{

}
