@model IList<Modelos.Formulas.EstruturaProduto>

<div class="container-fluid">
    <div class="row">      
      @Html.Partial("_SimulacaoEstruturaSimulacaoView")       
    </div>
</div>
@section scripts{

}
