
@{
    ViewBag.Title = "NaoExclui";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="text-center">
            <h4>Entrada de visitante não pode mais ser excluída.</h4>
        </div>
    </div>
</div>

