@model Modelos.Helps.HelpView

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h4>Nova mensagem Inicial</h4>
        <hr />
        <div class="col col-12">
            @using (Html.BeginForm("Alterar", "Help", new { Area = "Helps" }, FormMethod.Post, new { }))
            {
                @Html.AntiForgeryToken()


                @Html.Partial("_HelpCad")


                <div class="form-group">
                    <input type="submit" value="Alterar" class="btn btn-default" />
                </div>
            }
        </div>
    </div>
</div>
